<a href="https://colab.research.google.com/github/ipeirotis/mturk_demographics/blob/master/7_LanguageData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Load dataset

In [2]:
import pandas as pd

In [20]:
# Fetch the old data as well (Mar 2015 - Oct 2020)
URL = 'https://github.com/ipeirotis/mturk_demographics/raw/master/dataset_14may2023_16mar2015.zip'
df = pd.read_csv(URL, low_memory=False)

# Convert all NaN values to None
df = df.where(pd.notnull(df), None)

df = df.drop(["hitId", "surveyId"], axis="columns")

rename_columns = {
    "workerId": "worker_id",
    "householdIncome": "household_income",
    "educationalLevel": "educational_level",
    "householdSize": "household_size",
    "maritalStatus": "marital_status",
    "languagesSpoken": "languages_spoken",
    "timeSpentOnMturk": "time_spent_on_mturk" ,
    "weeklyIncomeFromMturk": "weekly_income_from_mturk",
    "yearOfBirth": "year_of_birth",
    "locationCity": "location_city",
    "locationRegion": "location_region",
    "locationCountry": "location_country",
    "date": "hit_answered_date",
    "hitCreationDate": "hit_creation_date",
    # "post_to_completion_secs"
    }

df = df.rename(rename_columns, axis = "columns")

df['hit_answered_date'] = pd.to_datetime(df['hit_answered_date'])
df['hit_creation_date'] = pd.to_datetime(df['hit_creation_date'])
df["post_to_completion_secs"] = (df['hit_answered_date'] - df['hit_creation_date']).dt.seconds

In [22]:
df

,hit_answered_date,worker_id,hit_creation_date,ip,gender,household_size,household_income,marital_status,year_of_birth,time_spent_on_mturk,languages_spoken,weekly_income_from_mturk,educational_level,location_country,location_region,location_city,post_to_completion_secs
0,2023-05-14 22:37:21.205000+00:00,A2HIKRXLONHR0K,NaT,"185.235.120.103, 169.254.1.1",female,1,"$25,000-$39,999",married,1970.0,20-40 hours per week,English,$50-$100 per week,Bachelors degree,US,ks,?,NaN
1,2023-05-14 21:38:39.797000+00:00,A2ZNBH0L55UFTN,NaT,"208.195.183.130, 169.254.1.1",female,3,"$10,000-$14,999",married,1985.0,1-2 hours per week,English,$5-$10 per week,High School Graduate,US,ny,new york,NaN
2,2023-05-14 21:37:40.899000+00:00,A3VPVACAKPBRMF,NaT,"45.43.133.34, 169.254.1.1",male,5+,"$10,000-$14,999",married,1992.0,More than 40 hours per week,English,$1-$5 per week,Bachelors degree,US,?,?,NaN
3,2023-05-14 21:29:14.653000+00:00,A12MUUQKRCQCT7,NaT,"208.195.188.253, 169.254.1.1",female,4,"$10,000-$14,999",married,1989.0,4-8 hours per week,English,$1-$5 per week,High School Graduate,US,ny,new york,NaN
4,2023-05-14 21:28:07.492000+00:00,A2NAONUAYM1I73,NaT,"208.195.185.112, 169.254.1.1",female,4,"$10,000-$14,999",married,1987.0,4-8 hours per week,English,$1-$5 per week,"Some college, no degree",US,ny,new york,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289665,2015-03-16 18:53:40.792000+00:00,A2DZW5E52SJ93H,2015-03-16 18:50:37+00:00,24.100.175.132,None,None,None,None,NaN,None,None,None,None,US,ky,somerset,183.0
289666,2015-03-16 18:53:33.341000+00:00,A164EJTEKF1ECH,2015-03-16 18:50:37+00:00,14.96.33.7,None,None,None,None,NaN,None,None,None,None,IN,ka,bangalore,176.0
289667,2015-03-16 18:53:19.840000+00:00,A1R3W25JDAUQ09,2015-03-16 18:50:37+00:00,75.134.10.210,None,None,None,None,NaN,None,None,None,None,US,ct,new fairfield,162.0
289668,2015-03-16 18:52:07.237000+00:00,A1UFD8IOZTACGH,2015-03-16 18:50:37+00:00,108.30.59.148,None,None,None,None,NaN,None,None,None,None,US,ny,new york,90.0
289669,2015-03-16 18:52:03.956000+00:00,A2OLVF6P86QSQJ,2015-03-16 18:50:37+00:00,129.59.122.21,None,None,None,None,NaN,None,None,None,None,US,tn,nashville,86.0

In [23]:
df.dtypes

hit_answered_date           datetime64[ns, UTC]
worker_id                                object
hit_creation_date           datetime64[ns, UTC]
ip                                       object
gender                                   object
household_size                           object
household_income                         object
marital_status                           object
year_of_birth                           float64
time_spent_on_mturk                      object
languages_spoken                         object
weekly_income_from_mturk                 object
educational_level                        object
location_country                         object
location_region                          object
location_city                            object
post_to_completion_secs                 float64
dtype: object

In [24]:
df.shape

(289670, 17)

In [25]:
df.languages_spoken.values

array(['English', 'English', 'English', ..., None, None, None],
      dtype=object)

In [ ]:
lol = [entries.split(',') for entries in df.languages_spoken.values if entries is not None]
s = set()
for l in lol:
    for m in l:
        s.add(m)
s

In [28]:
people_with_language = len([v for v in df.languages_spoken.values if v is not None and v!=''])
people_with_language

206423

In [29]:
df.location_country.value_counts()

US    216803
IN     45349
BR      4303
CA      3771
GB      3226
       ...
MP         1
TG         1
MW         1
XK         1
BM         1
Name: location_country, Length: 165, dtype: int64

In [31]:
df [ ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains(',') ].location_country.value_counts()

IN    13673
US    13616
BR     3048
IT     1589
CA      977
      ...
ST        1
CM        1
LC        1
AZ        1
FM        1
Name: location_country, Length: 117, dtype: int64

In [33]:
# bilingual and above
len(df [ ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains(',') ].worker_id.value_counts())

16174

In [34]:
df['bilingual'] = df.languages_spoken.str.contains(',')

In [ ]:
pv_bilingual = df.pivot_table(
    index = 'location_country',
    columns='bilingual',
    values = 'worker_id',
    aggfunc='count'
).fillna(0)

pv_bilingual['perc_bilingual'] = pv_bilingual[True] / (pv_bilingual[True] + pv_bilingual[False])
pv_bilingual['total'] = pv_bilingual[True]  + pv_bilingual[False]
pv_bilingual.sort_values(['perc_bilingual','total'], ascending=False)

In [38]:
# unique ids of workers that answered the language question
len(df [ ~pd.isnull(df.languages_spoken)  ].worker_id.value_counts())

93040

In [40]:
df [  ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains('English') ].location_country.value_counts()

US    153670
IN     28736
BR      3604
CA      2817
GB      2624
       ...
TG         1
HT         1
LA         1
AM         1
FM         1
Name: location_country, Length: 151, dtype: int64

In [ ]:
df [  ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains('Tamil') ].location_country.value_counts()

In [ ]:
df [ ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains('Spanish') ].location_country.value_counts()

In [ ]:
df [ ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains('Hindi') ].location_country.value_counts()

In [ ]:
df [ ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains('French') ].location_country.value_counts()

In [ ]:
df [ ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains('Malayalam') ].location_country.value_counts()

In [ ]:
df [ ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains('Tegulu') ].location_country.value_counts()

In [ ]:
df [ ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains('German') ].location_country.value_counts()

In [ ]:
(df [ ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains('Chinese') ].location_country.value_counts() / df.location_country.value_counts()).sort_values(ascending=False)

In [ ]:
df [ ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains('Macedonian') ].location_country.value_counts()

In [41]:
languages = set([l for v in df.languages_spoken.values if v is not None
                 for l in v.split(',') if l!=''])

In [43]:

result = []
for language in languages:
    people = len(set(df[ ~pd.isnull(df.languages_spoken) & df.languages_spoken.str.contains(language) ].worker_id.values))
    result.append({"lang":language, "unique_workers": people})
    

df_cnt = pd.DataFrame(result).sort_values('unique_workers', ascending=False)    
print (df_cnt)    
# more than 10 people for the language

#df2 = pd.DataFrame(result).sort_values('unique_workers', ascending=False)
#enough = df2 [df2.unique_workers > 9]
#len(enough)

         lang  unique_workers
79    English           91897
107   Spanish            6301
104     Tamil            3772
57     French            2536
12      Hindi            2504
..        ...             ...
83    Sesotho               1
23    Quechua               1
16     Kazakh               1
7     Bhutani               1
119  Setswana               1

[120 rows x 2 columns]

In [44]:
df_cnt.unique_workers.value_counts().sort_index()

1        11
2         8
3        11
4         4
5         8
         ..
2504      1
2536      1
3772      1
6301      1
91897     1
Name: unique_workers, Length: 68, dtype: int64

In [46]:
len([v for v in df.languages_spoken.values if v is not None and 'Spanish' in v])

11868

In [ ]:
1189 / 19268 * 170000

In [47]:
def intersect(a, b):
    """ return the intersection of two lists """
    return list(set(a) & set(b))

my_language = ['English', 'Tamil', 'Spanish', 'Hindi', 'Malayalam', 'French', 'Telugu', 'Chinese', 'German', 'Kannada', 'Italian', 'Portuguese', 'Marathi', 'Arabic', 'Russian', 'Japanese', 'Gujarati', 'Urdu', 'Bengali', 'Punjabi', 'Korean', 'Tagalog', 'Romanian', 'Vietnamese', 'Greek', 'Polish', 'Dutch', 'Turkish', 'Hebrew', 'Swedish', 'Serbian', 'Nepali', 'Bulgarian', 'Macedonian', 'Oriya']
pavlick_langauge = ['English', 'Tamil', 'Malayalam', 'Hindi', 'Spanish', 'Telugu', 'Chinese', 'Romanian', 'Portuguese', 'Arabic', 'Kannada', 'German', 'French', 'Polish', 'Urdu', 'Tagalog', 'Marathi', 'Russian', 'Italian', 'Bengali', 'Gujarati', 'Hebrew', 'Dutch', 'Turkish', 'Vietnamese', 'Macedonian', 'Cebuano', 'Swedish', 'Bulgarian', 'Swahili', 'Hungarian', 'Catalan', 'Thai', 'Lithuanian', 'Punjabi']

intersect_language = intersect(my_language, pavlick_langauge)
len(intersect_language)

29

In [48]:
from scipy.stats import spearmanr

In [49]:
spearmanr(my_language,pavlick_langauge)

SignificanceResult(statistic=0.057703081232493, pvalue=0.7419647128381073)